@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
        
html, body {
    font-family: 'Noto Serif KR', serif;
    margin: 0px;
    height: 100%;
}

.iw_inner {
    padding:0px 30px;
    margin: 35px 0px;
}

.iw_inner p {
    margin: 0px;
    font-size: x-large;
}

span.main-text {
    font-size: xx-large;
}

.iw_head p img {
    vertical-align: middle;
}

.iw_head p span {
    vertical-align: middle;
    margin-left: 5px;
}

.iw_body {
    margin: 15px 10px;
}

.iw_body p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#logo-instagram {
    color: blue;
    text-decoration: none;
}

.search-road {
    color: brown;
    text-decoration: none;
}
